#main {
    background: rgb(15, 15, 15);
    background-position: center !important;
    height: 600vh !important;
    overflow: hidden !important;
    z-index: 1 !important;
  }
  
  #background {
    position: fixed;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.06);
    margin-top: 0vw;
    margin-right: -55vw;
    font-size: 30vw;
    transform: rotate(90deg);
    line-height: .9em;
    overflow: hidden;
    pointer-events: none !important;
  }
  #mainContainer {
    position: absolute;
    margin-top: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #mainHead {
    font-size: 50px;
  }

  #subHead {
    font-size: 20px;
  }
  /* MOBILE */
@media only screen and (max-width: 700px) {
  #background {
  margin-top: -10vw;
    font-size: 40vw;
  }

}


@media only screen and (max-width: 800px) {
  #main {
    height: 555vh !important;
  }
  #mainContainer {
    margin-top: 380px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #mainHead {
    font-size: 30px;
    margin-bottom: -10px;
  }

  #subHead {
    font-size: 16px;
  }
}


@media only screen and (min-width: 1000px) {
  #main {
    height: 650vh !important;
  }
}