#main {
    display: block;
    /* background: linear-gradient(180deg, #17181c, #141414) !important; */
    background: #1b1c1d;
    background-position: center !important;
    /* height: 100vh !important; */
    height: 100vh !important;
    overflow: hidden;
  }
  
  #mainHead {
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.1);
  }

  @media only screen and (min-width: 700px) {
    #mainHead {
      font-size: 10vw;
      text-align: left;
      margin-top: 20vh;
      color: rgba(255, 255, 255, 0.5);
      margin-left: 50px;
    }
  }

  /* MOBILE */
@media only screen and (max-width: 700px) {
  #mainHead {
    font-size: 15em;
    transform: rotate(90deg);
  }
}
